server:
  port: 31000
spring:
  application:
    name: xc-service-manage-cms-client
  data:
    mongodb:
      uri: mongodb://root:root@localhost:27017
      database: xc_cms
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
    virtualHost: /
xuecheng:
  mq:
    #cms客户端监控的队列名称（不同的客户端监控的队列不能重复）
    queue1: queue_cms_postpage_01 # 门户页面queue
    routingKey1: 5a751fab6abb5044e0d19ea1	#此routingKey为门户页面
    queue3: queue_cms_postpage_03 # 课程详情页面queue
    routingKey3: 5e5b6b8aa6a4ac40046c05ee	#此routingKey为课程详情页面
